body {
  color: WHITE;
  text-align: center;
  font-family: 'helvetica', arial, sans-serif;
  font-weight: 100;
  background-image: url(dark.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
}
.navbar {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.panel-title {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}
#mycarousel {
  height: 310px;
  width: auto;
  overflow: hidden;
}
IMG#caroimg {
  height: 310px;
  align-content: center;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
#sidepanelbody {
  color: slategray;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
.navbar-backgrnd{
  background-color: rgba(255,255,255,0);
}
.nav.navbar-nav.navbar-right li a {
    color: rgba(255,255,255,0.1);
}
#topsecret li a {
    color: slategray;
}
.panel-title img {
  height: 180px;
}
#PageHeader {
  vertical-align: middle;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  color: White;
  }
IMG.navbar-brand {
    float: left;
    border-radius: 50%;
    height: 50px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
  }
#wrapper {
  width: 960px;
  margin: 0 auto;
}
#wrapper img {
  height: 150px
}
